@charset "utf-8";
*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #666;}

body{
    font-size: 16px; color: #666;
    line-height: 120%;
    font-family: "font_ns", sans-serif;
}

.header{
    width: 100%; height: 164px;
    border-top: 5px solid #009223;
    border-bottom: 1px solid #ddd;
}
.header-wrap{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header .logo{
    text-align: center;
    margin-top: 35px;
}

.header .etc-menu{
    position: absolute;
    right: 25px;
    top: 5px;
}
.header .etc-menu ul{overflow: hidden;}
.header .etc-menu ul li{float: left; position: relative;}
.header .etc-menu ul li a{
    display: inline-block;
    height: 30px; line-height: 30px;
    font-size: 13px; font-weight: normal;
}
.header .etc-menu ul li:nth-child(2){margin-left: 30px;}
.header .etc-menu ul li:nth-child(2)::after{
    content: "";
    position: absolute;
    width: 3px; height: 3px;
    background-color: #ddd;
    top: 50%; left: -16px;
    margin-top: -2px;
}
.header .etc-menu ul li:nth-child(3) a{
    font-size: 0;
    width: 30px; height: 30px;
    background-image: url(../images/icon_utill_global.png);
    margin-left: 15px;
    vertical-align: middle;
    /* 수직정렬을 해주는 속성 */
}

.header .nav{
    width: 100%;
    margin-top: 12px;
}
.header .nav ul{
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}
.header .nav ul li{
    float: left;
    width: 165px;
    height: 77px;
    text-align: center;
    line-height: 77px;
    font-weight: bold;
}
.header nav ul li a{
    display: inline-block;
    width: 100%;
    font-weight: bold;
    color: #292929;
    letter-spacing: -0.03em;
    font-size: 18px;
}
.header .nav ul li.on a{/*이거 스크립트로 구현한거임!*/
    color: #009223;
}


.header .submenu{
    width: 100%;
    position: relative;
    top: -34px;
    background-color: #fff;
    transition: 0.2s;
    height: 0;
    overflow: hidden;
    /* 자연스럽게 내려와야 하는 조건이라면 무조건 overflow:hidden height:0 */
    z-index: 9;
}
.header .submenu.on{height: 260px;}
.header .submenu .submenu-wrap{
    width: 990px;
    margin: 0 auto;
}
.header .submenu ul{
    float:left;
    width:165px;
    text-align: center;
    padding-top: 20px;
}
.header .submenu ul li{
    width: 100%;
    height: 35px; 
    line-height: 120%;
    transition: 0.2s;
    opacity: 0;
}
.header .submenu ul li a{
    padding: 8px 0 9px;
    display: inline-block;
    width: 100%;
    letter-spacing: -0.05em;
    font-size: 15px;
}
.header .submenu ul li a:hover{
    color: #009223;
    text-decoration: underline;
}
.header .submenu ul li.on{opacity: 1;}




.slide-section{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slide-section > ul li{
    float: left;
    width: calc(100% / 8);
    position:relative;
    height: 440px;
    font-size: 0;
}
.slide-section > ul li img{width: 100%; height: 440px;}
.slide-section .indicator{
    position: absolute;
    right: 365px;
    bottom: 50px;
}
.slide-section .indicator ul li{
    float: left;
    margin: 0 5px;
}
.slide-section .indicator ul li a{
    display: block;
    width: 10px; height: 10px;
    background-color: #fff;
    border-radius: 30px;
    font-size: 0;
    transition: 0.3s;
}
.slide-section .indicator ul li a.on{
    width: 30px;
    background-color: #ffc300;
}


.quick-menu{
    width: 1170px;
    margin: 0 auto;
    margin-top: -30px;
    position: relative;
    z-index: 9;/*position:relative로 기능은 하지만 버그 방지를 위해 z-index를 사용*/
}
.quick-menu ul{
    float: right;
}
.quick-menu ul li{
    float: left;
    width: 300px; height: 80px;
    text-align: center;
}
.quick-menu ul li:nth-child(1){
    background-color: #ffce32;
    border-radius: 30px 0 0 0;
    letter-spacing: -0.02em;
}
.quick-menu ul li:nth-child(2){
    background-color: #009223;
    border-radius: 0 0 30px 0;
    letter-spacing: -0.06em;
}
.quick-menu ul li a{
    font-size: 22px;
    padding-top: 27px;
    display: inline-block;
    width: 100%;
}
.quick-menu ul li:nth-child(1) a{color: #292929;}
.quick-menu ul li:nth-child(1) a::before{
    content: "";
    width: 24px; height: 30px;
    background-image: url("../images/icon_map.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
    position: relative;
    top: -2px;
}
.quick-menu ul li:nth-child(2) a{color: #fff;}
.quick-menu ul li:nth-child(2) a::before{
    content: "";
    width: 34px; height: 30px;
    background-image: url("../images/icon_franchise.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
    position: relative;
    top: -2px;
}